* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
w100 {
  width: 100%;
}
.flex-r-jc-ac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c-jc-ac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
