@font-face {
  font-family: "FuturaPTDemi";
  src: local("FuturaPTDemi"),
    url("./fonts/futra_pt/FuturaPTDemi.otf") format("opentype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* font-family: futura-pt, FuturaStd, Helvetica, Arial, sans-serif; */
  /* font-family: GoldmanBold, FuturaStd, Helvetica, Arial, sans-serif; */
  font-family: FuturaPTDemi;
}
w100 {
  width: 100%;
}
.flex-r-jc-ac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-r-js-as {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex-c-jc-ac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .red {
  color: green;
} */

.container {
  margin-left: 100px;
  margin-right: 100px;
}
.container-p {
  padding-left: 100px;
  padding-right: 100px;
}
.vertical-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.vertical-container-p {
  padding-top: 30px;
  padding-bottom: 30px;
}
.top-line {
  border-top: 1px solid #eee;
}
.bottom-line {
  border-bottom: 1px solid #eee;
}
/* .inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
} */
select[name="rcrs-country"] {
  width: 120px;
}
